force-app/main/default/flows/Case_Flow_for_New.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_record_is_new_or_old</name>
        <label>Check record is new or old</label>
        <locationX>553</locationX>
        <locationY>181</locationY>
        <defaultConnector>
            <targetReference>Create_the_Case_Comment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>When_record_Is_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_Case_Document_fileds</targetReference>
            </connector>
            <label>When record Is New</label>
        </rules>
    </decisions>
    <formulas>
        <name>newRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Case Flow for New {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Flow for New</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_the_Case_Comment</name>
        <label>Create the Case Comment</label>
        <locationX>727</locationX>
        <locationY>295</locationY>
        <inputAssignments>
            <field>CommentBody</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CaseComment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_the_Case_Document_fileds</name>
        <label>Update the Case Document fileds</label>
        <locationX>736</locationX>
        <locationY>72</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>First Comment</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>148</locationX>
        <locationY>77</locationY>
        <connector>
            <targetReference>Check_record_is_new_or_old</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
